In [ ]:
import pandas
from math import inf
data_list=pandas.read_excel('DATASET.xlsx')
data_list=data_list.drop(columns=['Example'])

In [ ]:
data_list

   ALT Bar Fri Hun   Pat Price Rain Res     Type        Est Target Wait
0    T   F   F   T  Some   $$$    F   T   French    0 to 10           T
1    T   F   F   T  Full     $    F   F     Thai   30 to 60           F
2    F   T   F   F  Some     $    F   F   Burger    0 to 10           T
3    T   F   T   T  Full     $    F   F     Thai  10 to  30           T
4    T   F   T   F  Full   $$$    F   T   French       > 60           F
5    F   T   F   T  Some    $$    T   T  Italian    0 to 10           T
6    F   T   F   F  None     $    T   F   Burger    0 to 10           F
7    F   F   F   T  Some    $$    T   T     Thai    0 to 10           T
8    F   T   T   F  Full     $    T   F   Burger        >60           F
9    T   T   T   T  Full   $$$    F   T  Italian   10 to 30           F
10   F   F   F   F  None     $    F   F     Thai    0 to 10           F
11   T   T   T   T  Full     $    F   F   Burger  30 to 60            T

In [ ]:
def predict(x,data_list,target_column):
    max_probablity=(-inf,None)
    columns=[i for i in data_list.columns if i != target_column]
    for target,target_data in data_list.groupby(target_column):
      target_probablity=1
      length_target_data=len(target_data) + 1
      length=len(data_list)
      for index, column in enumerate(columns):
        target_probablity *= (1+len(target_data.loc[target_data[column] == x[index]]))/length_target_data
      target_probablity *= length_target_data/length
      if target_probablity>max_probablity[0]:
        max_probablity=(target_probablity, target)   
    return max_probablity[1]

In [ ]:
predict(('T', 'T', 'F', 'T', 'Some', '$$$', 'T', 'T', 'Italian', '>60'),data_list,'Target Wait')

'T'